[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gmusicapi = "*"
pocketcasts = {git = "https://github.com/zackbcom/python-pocketcasts.git"}

[requires]
python_version = "3.6"
